* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
nav{
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}
.nav-logo{
    max-width: 100px;
}
.slide{
    width: 400px;
    align-self: center;
    margin-top: 3%;
}
.title{
    padding-top: 2%;
    margin-left: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    color: #000000;
}
p{ 
    display: inline;
    float: inline-start;
    margin-left: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1%;
    color: #222222;

}

.hero{
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    padding-bottom: 3%;

}

section{
    padding: 20px;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

.nav--logo {
    max-width: 100px;
}

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--photo {
    max-width: 400px;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0;
}

.card {
    width: 175px;
    position: relative;
    font-size: 12px;
    margin-left: 1%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}
.cards-list{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    }

.card--image {
    width: 100%;
    border-radius: 9px;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}
.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}